
<div id="frmUpdate" class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3">Chọn nhà cung cấp</label>
            <div class="col-sm-8">
                <select id="cbNCC" name="">
                    @foreach (var item in (List<ChuyenDeLoc.Models.NhaCungCap>)ViewData["NhaCungCap"])
                    {
                        <option value="@item.Ma">
                            @item.Ten
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<script>
    var frmUpdate = $('#frmUpdate');
    initSelect2();
    $(document).ready(function () {
        addRequired(frmUpdate);
        frmUpdate.find('lbStatus').on('click', function () {
            frmUpdate.find('ckbStatus').prop('checked') = !frmUpdate.find('ckbStatus').prop('checked')
        })
    });

    $('#modal-form').find('#btnSave').off("click").on('click', function (e) {
        e.preventDefault();
        create();
    });
    function create() {
        if (ValidateForm(frmUpdate)) {
            return;
        }
       
        $.ajax({
            url: urlDomain + "/create",
            method: "POST",
            data: {
                MaNV: frmUpdate.find('#cbNhanVien').val(),
                MaNCC: frmUpdate.find('#cbNCC').val(),
              
            }
            , success: function (response) {
                
                if (response.result) {
                    // datasource = response.data
                    console.log(response);
                    showAlert("Thêm mới thành công", 2)
                   // getData();
                    window.location.href = urlDomain + "/chitiet?ma=" + response.data.Ma;

                } else {
                    showAlert(response.message)
                }
            }
        });
        function getData() {
           
            $.ajax({
                url: urlDomain + "/getlist" ,
                method: "GET",
                data: {
                    title: frmFilter.find('#txtName').val(),
                    take: take,
                    skip: skip
                }
                , success: function (response) {
                    $('#dtTable').html(response);
                 
                }
            });
        }
    }

</script>


