
<div id="frmUpdate" class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3" required>Tên nhóm nhà cung cấp </label>
            <div class="col-sm-8">
                <input type="text" required class="form-control" id="txtName" placeholder="Tên">
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3">Địa chỉ</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtAddress" placeholder="Đia chỉ">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtEmail" placeholder="email">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3">Số điện thoại</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtSdt" placeholder="Số điện thoại">
            </div>
        </div>
    </div>
</div>
<script>
    var frmUpdate = $('#frmUpdate');
    $(document).ready(function () {
        addRequired(frmUpdate);
        frmUpdate.find('lbStatus').on('click', function () {
            frmUpdate.find('ckbStatus').prop('checked') = !frmUpdate.find('ckbStatus').prop('checked')
        })
    });

    $('#modal-form').find('#btnSave').off("click").on('click', function (e) {
        e.preventDefault();
        create();
    });
    function create() {
        if (ValidateForm(frmUpdate)) {
            return;
        }
       
        $.ajax({
            url: urlDomain + "/create",
            method: "POST",
            data: {
                Ten: frmUpdate.find('#txtName').val(),
                DiaChi: frmUpdate.find('#txtAddress').val(),
                Email: frmUpdate.find('#txtEmail').val(),
                SDT: frmUpdate.find('#txtSdt').val(),
            }
            , success: function (response) {
                
                if (response.result) {
                    // datasource = response.data
                    showAlert("Thêm mới thành công", 2)
                    getData();
                    hideContentModal()

                } else {
                    showAlert(response.message)
                }
            }
        });
        function getData() {
           
            $.ajax({
                url: urlDomain + "/getlist" ,
                method: "GET",
                data: {
                    title: frmFilter.find('#txtName').val(),
                    take: take,
                    skip: skip
                }
                , success: function (response) {
                    $('#dtTable').html(response);
                 
                }
            });
        }
    }

</script>


